
// scss
.footer {
  width: 100%;
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 30px 10%;
  box-sizing: border-box;
  flex-shrink: 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .footer-logo {
      img {
        margin-top: 20px;
        width: 200px;
      }
    }

    .footer-info {
      p {
        font-size: 1rem;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;

    p {
      font-size: 0.9rem;
    }
  }
}